<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

   	<display-name>basiclti-portlet</display-name>
	
	<context-param>
		<param-name>endpoint</param-name>
		<param-value>http://localhost:8081/imsblti/provider/</param-value>
	</context-param>
	<context-param>
		<param-name>secret</param-name>
		<param-value>secret</param-value>
	</context-param>
		
</web-app>